*{
  background: rgb(196, 107, 250);
  margin: 0;
}

body{
  margin:10rem;
  padding: 5rem;
  align-items: center;
}


.square{
  margin: 0.02px;
  padding: 2rem;
  border-color: black;
  border-width: 1px;
  align-items: center;
}